section#content {
    color: black;
    position: absolute;
    top: 200px;
    left: 600px;

}

img#slide {
    width: 100%;
    height: auto;
}

/*
====================================================================================================================================================================
                                                    End Slideshow Properties
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start Featured Courses Properties
====================================================================================================================================================================
*/



h6 {
	font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Featured Courses Properties
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start About Section Properties
====================================================================================================================================================================
*/

section#about {
    width: 100%;
    height: 1309px;
    background-color:#FAF0DD;
    position: absolute;
    top: 1800px;
    left: 0;
}

div.about {
	color: black;
	text-align: center;
}

div.students {
    width: 300px;
    height: 300px;
    background:#3D0C02;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 250px;
}

div.reviews {
    width: 300px;
    height: 300px;
    background: #3D0C02;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 600px;
}

div.courses {
    width: 300px;
    height: 300px;
    background: #3D0C02;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 951px;
}

div.content {
    width: 300px;
    height: 300px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 1301px;
}

/*
====================================================================================================================================================================
                                                    End About Section Properties
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Learn Tech Section Properties
====================================================================================================================================================================
*/
img#slideshow1 {
    width: 25%;
    height: 35%;
    top: 1400px;
    left: 200px;
    position: absolute;
    background-color:#0d6791;


}





}
#computer {
    position: absolute;
    top: 1450px;
    left: 300px;
}

.text {
    position: absolute;
    top: 1450px;
    left: 733px;
}

#computer2 {
    position: absolute;
    top: 1650px;
    left: 300px;
}

.text2 {
    position: absolute;
    top: 850px;
    left: 733px;
}

#computer3 {
    position: absolute;
    top: 1550px;
    left: 300px;
}

.text3 {
    position: absolute;
    top: 1200px;
    left: 733px;
}


.h1lt {

    position: absolute;
    top: 100px;
    left: 614px;

}

h6 {
    font-size: 1em;
}

.h1lt {

    position: absolute;
    top: 2320px;
    left: 614px;

}

/*
====================================================================================================================================================================
                                                    End Learn Tech Section Properties
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer {
    width: 100%;
    height: 80px;
    background: #172035;
    position: absolute;
    top: 1900px;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}
